/*==========================================================================
  ##Gulping

  September 2014
===========================================================================*/

//--------------------------------------------------------------------------
//  Base
//--------------------------------------------------------------------------

@import "base/normalize";
@import "base/html5bp";

//--------------------------------------------------------------------------
//  Bourbon
//--------------------------------------------------------------------------

@import "bourbon";
@import "neat";

//--------------------------------------------------------------------------
//  Temp
//--------------------------------------------------------------------------

@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

body {
    font-family: Lato;
    color: white;
    text-align: center;
}

h1 {
    color: lighten(hotpink, 20%);
}

.main-container {
    @include outer-container;
}

a {
    color: darken(hotpink, 60%);
}

.box {
    margin-top: 30px;
    display: inline-block;
    padding: 20px;
}

